.nationalPokedex_display {
}

.nationalPokedex_limiter {
	@apply absolute max-w-[90vw] max-h-[90vh] sm:max-h-[70vh] w-full h-full
	2xl:text-[150%] border border-white/20 border-b-sky-900/40
	border-r-sky-900/40 rounded-2xl sm:rounded-[2rem]
	shadow-xl shadow-black;
}

.nationalPokedex {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	@apply relative flex flex-col w-full h-full p-3 sm:p-10 gap-3
	sm:gap-10 bg-white/10 text-white rounded-2xl
	sm:rounded-[2rem];
}

.nationalPokedex_navigationButtons {
	@apply absolute flex justify-between w-full top-0 left-0
	mt-2 px-4 py-2 text-white text-3xl drop-shadow-md z-10;
}

.nationalPokedex_cards {
	@apply grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4
	xl:grid-cols-6 2xl:grid-cols-8 gap-3 p-2 overflow-auto
	scrollbar-thin scrollbar-track-transparent;
}

.scrollbar-thin {
	--scrollbar-thumb: #0284c7b3;
}

.nationalPokedex_figure {
	@apply relative flex flex-col items-center p-2 rounded-lg
	aspect-[4/3] bg-sky-600/70 text-white border
	border-white/20 border-b-sky-900/40 border-r-sky-900/40
	hover:brightness-110 hover:scale-105 duration-200;
}
.nationalPokedex_figure > img {
	@apply relative object-fill w-2/3;
}

.nationalPokedex_figure_caption {
	@apply flex flex-col items-center w-full;
}

.nationalPokedex_figure_caption > span:first-child {
	@apply absolute top-3 font-light text-xs
	text-center 2xl:text-[40%] font-[Michroma];
}

.nationalPokedex_figure_caption > span:last-child {
	@apply absolute bottom-3 2xl:bottom-4 font-light text-sm sm:text-[1.1rem]
	2xl:text-[60%] text-center;
}

.nationalPokedex_searchScreen {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	@apply fixed flex flex-col justify-center items-center top-0
	left-0 w-screen h-screen bg-black/50 duration-200;
}

.nationalPokedex_searchScreen_options {
	@apply absolute flex flex-col justify-start items-center gap-2
	max-w-[90vw];
}

.nationalPokedex_searchScreen_options input {
	@apply px-2 rounded-sm;
}

.nationalPokedex_searchScreen_options button {
	@apply w-full py-1 bg-sky-600 text-white rounded-md;
}
