@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--typecolor: 84, 84, 84;
		--typecolor2: 0, 0, 0;
	}
}

html {
	@apply bg-black h-full overflow-hidden;
}

body {
	@apply bg-gradient-to-b from-slate-800 to-black;
}

#root {
	@apply absolute flex justify-center items-center
	w-full h-full bg-gradient-to-b from-slate-800
	to-black;
}

.fadein {
	animation: fadein 300ms ease-in-out;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
}
