.pokemonInfo_limiter {
	@apply absolute max-w-[80vw] max-h-[70vh] w-full h-full
	2xl:text-[150%] border border-white/20 border-b-sky-900/40
	border-r-sky-900/40 rounded-2xl sm:rounded-[2rem]
	shadow-xl shadow-black;
}

.pokemonInfo_navigationButtons {
	@apply absolute flex justify-between w-full mt-2
	px-4 py-2 text-white text-3xl drop-shadow-md z-10;
}

.pokemonInfo_navigationButtons_prevNext {
	@apply flex justify-center items-center gap-4;
}

.pokemonInfo_navigationButtons_prevNext > a:first-child,
.pokemonInfo_navigationButtons_prevNext > a:last-child {
	@apply hover:scale-125 duration-200;
}

.pokemonInfo {
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	@apply flex flex-col w-full h-full p-3 sm:p-10 gap-3
	sm:gap-10 bg-white/10 text-white rounded-2xl
	sm:rounded-[2rem] overflow-auto scrollbar-none;
}

.pokemonInfo-mediaQueryOptions {
	@apply grid grid-cols-1 md:grid-cols-2 gap-3 sm:gap-10
	place-content-around;
}

.pokemonInfo_figure,
.pokemonInfo_commonData,
.pokemonInfo_description {
	@apply flex justify-around;
}

.pokemonInfo_figure {
	@apply relative flex-col w-[80%] m-auto aspect-square
	bg-typecolor/80 border shadow-lg shadow-black
	border-white/60 border-b-white/10 border-r-white/40
	rounded-full;
}

.pokemonInfo_figure_caption {
	text-shadow: 0 2px 10px #000;
	@apply absolute -top-10 right-0 font-bold
	text-[calc(10vw+0.5rem)] md:text-[calc(6vw+0.5rem)]
	lg:text-[calc(6vw+1rem)];
}
.pokemonInfo_figure_captionMissingno {
	@apply absolute top-0 right-0
	text-[calc(5vw+0.5rem)] md:text-[calc(3vw+0.5rem)]
	lg:text-[calc(3vw+1rem)] font-bold;
}

.pokemonInfo_figure > img:last-child {
	@apply relative object-contain;
}

.pokemonInfo_specieData {
	@apply flex flex-col justify-center gap-4;
}

.pokemonInfo_name {
	@apply px-10 py-4 uppercase bg-typecolor/70
	font-bold sm:text-[150%] text-center shadow-md shadow-black
	rounded-xl;
}

.pokemonInfo_height,
.pokemonInfo_weight,
.pokemon_stats_hp,
.pokemon_stats_attack,
.pokemon_stats_defense,
.pokemon_stats_specialattack,
.pokemon_stats_specialdefense,
.pokemon_stats_speed,
.pokemon_stats_none {
	@apply flex flex-col items-center text-sm sm:text-base;
}

.pokemonInfo_weight > span:first-child,
.pokemonInfo_height > span:first-child,
.pokemon_stats_hp > span:first-child,
.pokemon_stats_attack > span:first-child,
.pokemon_stats_defense > span:first-child,
.pokemon_stats_specialattack > span:first-child,
.pokemon_stats_specialdefense > span:first-child,
.pokemon_stats_speed > span:first-child {
	@apply text-[150%] font-bold leading-5;
}

.pokemonInfo_description {
	@apply bg-white/80 p-3 sm:px-10 sm:py-4 font-medium text-center
	whitespace-normal overflow-ellipsis text-black border border-white/60
	border-b-white/40 border-r-white/40 rounded-2xl;
}
.pokemonInfo_stats {
	@apply flex flex-col gap-3 sm:gap-6 rounded-xl;
}

.pokemonInfo_stats > span {
	@apply sm:text-[150%] text-center font-bold uppercase;
}

.pokemonInfo_stats_charts {
	@apply flex flex-col lg:flex-row justify-center items-center
	gap-10 w-full p-3 sm:p-10 bg-white/80 rounded-xl;
}

.pokemonInfo_stats_barCharts,
.pokemonInfo_stats_radarCharts {
	@apply w-full lg:w-[45%];
}

.pokemonInfo_stats_values {
	@apply grid grid-cols-3 lg:grid-cols-6 text-center gap-4;
}

.pokemonInfo_limiter,
.pokemonInfo,
.pokemonInfo-mediaQueryOptions,
.pokemonInfo_figure,
.pokemonInfo_commonData,
.pokemonInfo_speciesData,
.pokemonInfo_name,
.pokemonInfo_height,
.pokemonInfo_weight,
.pokemonInfo_description {
	@apply duration-200;
}
